<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the page 2</title>
</head>
<body>
  <h2>Regression: Predicting continuos labels</h2>
  <p>Regression analysis is the statistical method to model a relationship between a dependent (target) and independent (predictor)
  variables with one or more independent variables. More specifically, Regression analysis helps us to understand how the value of 
  the dependent variable is changing corresponding to an independent variable when other independent variables are held fixed. It
  predicts continuos/real values such as temperature,age , salary, price, etc.
  
 Example: Suppose there is a marketing company A, who does various advertisement every year and get sales on that. The below list
 shows the advertisement made by the company in the last 5 years and the coressponding sales:</p>
 <h2>R Squared and Coefficient of Determination Theory</h2>
 <p>• In the second image, there is a best fit line, though even the best
      fitting line is still going to be useless,
    • And we'd like to know that before we spend precious computational
    power on it.
    • The standard way to check for errors is by using squared errors. You
    will hear this method either called R squared or the coefficient of
    determination.</p>

</body>
</html>